/*
Green Color: #addb67
 */

/* SOLVER MENU */

#main_title {
    color: #FFFFFF;
}

#sudoku_image {
    border: 2px solid #FFFFFF;
}

#save_button
{
    border: 2px solid #7e57c2;
    background-color: #0e293f;
}

#image_rotation_button {
    background: #0e293f;
    color: #7e57c2;
    border: 2px solid #7e57c2;
}

#pre_process_button {
    background: #0e293f;
    border: 2px solid #addb67;
    color: #addb67;
}

#detection_button, #ai_button, #construction_button {
    background: #0e293f;
    border: 2px solid #122d42;
    color: darkgray;
}

#detection_button:hover, #ai_button:hover, #construction_button:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

/* FUNC MENU */

#fun_rotation {
    background: #0e293f;
    color: #7e57c2;
    border: 2px solid #7e57c2;
}

#fun_pre_process {
    background: #0e293f;
    border: 2px solid #122d42;
    color: darkgray;
}

#automatic_button, #manual_button {
    background: #0e293f;
    border: 1px solid #7e57c2;
    color: #FFFFFF;
}

#automatic_button:hover, #manual_button:hover {
    border: 3px solid #FFFFFF;
}

#fun_pre_process:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

#manual_text, #automatic_text {
    color: #FFFFFF;
}